<script type ="text/ng-template" id="404.html">
  <div class="container">
    <div class="text-center" style="padding-top: 10%">
      <h1 class="text-warning">
        <i class="fa fa-exclamation-triangle fa-lg fa-5x"></i>
      </h1>
      <h1 class="text-primary">404</h1>
      <h1><small>Not found</small></h1>
      <p class="lead">Sorry, but the page you were trying to view does not exist.</p>
      <p class="lead">It looks like this was the result of either:</p>
      <ul class="list-unstyled">
        <li>1. a mistyped address</li><li>2. an out-of-date link</li>
      </ul>
    </div>
  </div>
</script>
