<script type="text/ng-template" id="sanji-tag-selector-list.tpl.html">
  <md-dialog aria-label="Edit upload tag setting" style="min-width:40%">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate="TAG_SELECTOR_DIALOG_UPLOAD_EDIT_DIALOG_TITLE"></h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="$ctrl.cancel()">
          <ng-md-icon icon="close"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-padding">
      <form>
        <md-input-container style="width: 100%">
          <label translate="TAG_SELECTOR_DIALOG_FORM_EQUIPMENT"></label>
          <md-select ng-model="$ctrl.selectedDevice"
            md-on-close="$ctrl.changeTableContent($ctrl.selectedDevice)">
            <md-option ng-repeat="device in $ctrl.devices track by $index" ng-value="device">
              {{device.equipmentName}}
            </md-option>
          </md-select>
        </md-input-container>
      </form>

      <div class="sanji-tag-selector-list">
        <md-toolbar class="md-table-toolbar md-default" ng-if="0===$ctrl.table[$ctrl.selectedDevice.equipmentName].selected.length">
          <div class="md-toolbar-tools">
            <span translate="TAG_SELECTOR_DIALOG_TAG_LIST"></span>
            <div flex></div>
            <md-button class="md-icon-button" aria-label="Select All Tag"
            ng-click="$ctrl.toggleAllTag($ctrl.selectedDevice, true)">
              <md-tooltip><span translate="TAG_SELECTOR_DIALOG_TAG_LIST_SELECT_ALL"></span></md-tooltip>
              <md-icon ng-md-icon icon="select_all" style="fill: rgba(0, 0, 0, .54)"></md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar" style="color: #1e88e5;font-size: 16px;background-color: #e3f2fd;" ng-if="0 < $ctrl.table[$ctrl.selectedDevice.equipmentName].selected.length">
          <div class="md-toolbar-tools">
            <span>{{$ctrl.table[$ctrl.selectedDevice.equipmentName].selected.length}} {{'TAG_SELECTOR_DIALOG_ITEM_SELECTED' | translate}}</span>
            <div flex></div>
          </div>
        </md-toolbar>

        <md-table-container>
          <table md-table md-row-select multiple ng-model="$ctrl.table[$ctrl.selectedDevice.equipmentName].selected" md-progress="$ctrl.table[$ctrl.selectedDevice.equipmentName].promise" style="width:100%;text-align:left">
            <thead md-head md-order="$ctrl.table[$ctrl.selectedDevice.equipmentName].query.order">
              <tr md-row>
                <th md-column md-order-by="name"><span translate="TAG_SELECTOR_DIALOG_TABLE_NAME"></span></th>
                <th md-column>
                  <span translate="TAG_SELECTOR_DIALOG_TABLE_LOG_ON_CHANGE"></span>
                  <md-switch class="md-primary" ng-model="$ctrl.table[$ctrl.selectedDevice.equipmentName].selectedAllLogOnChange" ng-change="$ctrl.toggleAllLogOnChange($ctrl.selectedDevice, $ctrl.table[$ctrl.selectedDevice.equipmentName].selectedAllLogOnChange)"
                    aria-label="toggle all log on change"></md-switch>
                </th>
                <th md-column>
                  <span translate="TAG_SELECTOR_DIALOG_TABLE_DESCRIPTION"></span>
                  <md-switch class="md-primary" ng-model="$ctrl.table[$ctrl.selectedDevice.equipmentName].selectedAllLogDescription" ng-change="$ctrl.toggleAllLogDescription($ctrl.selectedDevice, $ctrl.table[$ctrl.selectedDevice.equipmentName].selectedAllLogDescription)"
                    aria-label="toggle all log description"></md-switch>
                </th>
                <th md-column>
                  <span translate="TAG_SELECTOR_DIALOG_TABLE_LOG_UNIT"></span>
                  <md-switch class="md-primary" ng-model="$ctrl.table[$ctrl.selectedDevice.equipmentName].selectedAllLogUnit" ng-change="$ctrl.toggleAllLogUnit($ctrl.selectedDevice, $ctrl.table[$ctrl.selectedDevice.equipmentName].selectedAllLogUnit)"
                    aria-label="toggle all log unit"></md-switch>
                </th>
                <th md-column>
                  <span translate="TAG_SELECTOR_DIALOG_TABLE_LOG_DATATYPE"></span>
                  <md-switch class="md-primary" ng-model="$ctrl.table[$ctrl.selectedDevice.equipmentName].selectedAllLogDataType" ng-change="$ctrl.toggleAllLogDataType($ctrl.selectedDevice, $ctrl.table[$ctrl.selectedDevice.equipmentName].selectedAllLogDataType)"
                    aria-label="toggle all log data type"></md-switch>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-auto-select md-on-select="$ctrl.changeSelectedItem()" md-on-deselect="$ctrl.changeSelectedItem()" md-select="tag" md-select-id="tagId" ng-repeat="tag in $ctrl.tags | orderBy: $ctrl.table[$ctrl.selectedDevice.equipmentName].query.order | limitTo: $ctrl.table[$ctrl.selectedDevice.equipmentName].query.limit : ($ctrl.table[$ctrl.selectedDevice.equipmentName].query.page - 1) * $ctrl.table[$ctrl.selectedDevice.equipmentName].query.limit track by tag.name">
                <td md-cell>{{tag.name}}</td>
                <td md-cell>
                  <md-switch class="md-primary" ng-model="tag.logOnChange" ng-click="$ctrl.stopPropagation($event)" aria-label="log on change switcher"></md-switch>
                </td>
                <td md-cell>{{tag.description}}</td>
                <td md-cell>
                  <span>{{tag.unit || ''}}</span>
                </td>
                <td md-cell>
                  <span>{{tag.dataType}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

          <md-table-pagination md-limit="$ctrl.table[$ctrl.selectedDevice.equipmentName].query.limit" md-page="$ctrl.table[$ctrl.selectedDevice.equipmentName].query.page"
            md-total="{{$ctrl.tags.length}}" md-boundary-links md-page-select></md-table-pagination>
      </div>

      <div layout layout-align="space-between center">
        <span layout layout-align="start center" style="font-size: 16px;">
          {{'TAG_SELECTOR_DIALOG_ITEM_SELECTED_TOTAL' | translate}}: {{$ctrl.selectedTags.length}}
        </span>
        <md-button type="button" aria-label="Submit" class="md-raised md-primary" ng-click="$ctrl.save($ctrl.profile)">
          <sapn translate="TAG_SELECTOR_DIALOG_FORM_SAVE">
            </span>
        </md-button>
      </div>
      <div>
        <p translate="TAG_SELECTOR_DIALOG_PREVIEW_MSG"></p>
        <code>
          {{$ctrl.code | json}}
        </code>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>
